In [35]:
import pandas as pd

In [36]:
data = pd.read_csv("lbp.csv").values.tolist()
width = len(data[0])
height = len(data)


def get_box(x, y):
  indexes = []
  r = range(-1, 2)

  for i in r:
    for j in r:
      indexes.append([x+i, y+j])

  center = indexes[4]
  edge = [indexes[x] for x in [0, 1, 2, 5, 8, 7, 6, 3]]
  
  return {'center':center, 'edge':edge}


def compute(box):
  biner_list = []
  fun = biner_list.append

  c = box['center']
  center = data[c[0]][c[1]]

  for e in box['edge']:
    edge = data[e[0]][e[1]]
    fun(1) if edge >= center else fun(0)
  
  return biner_list


def lbp(biner_list):
  reversed_biner = biner_list[::-1]
  to_string = [str(x) for x in reversed_biner]
  joined = ''.join(to_string)

  return int(joined, 2)


def lbpu(biner_list):
  diff = 0

  for i, x in enumerate(biner_list, start=-1):
    if biner_list[i] != biner_list[i+1]:
      diff += 1
  
  return diff


def view(data):
  cols = list(range(width-2))
  return pd.DataFrame(data, columns=cols)

In [37]:
result = []
for fun in [lbp, lbpu]:
  lbp_type = []

  for i in range(1, height-1):
    row = []

    for j in range(1, width-1):
      box = get_box(i, j)
      computed = compute(box)
      row.append(fun(computed))
    
    lbp_type.append(row)
  result.append(lbp_type)

In [38]:
view(result[0])

     0    1    2    3    4
0   64  140   28   62    0
1  183  255  127    4  130
2    0  248    4  254   51
3    2  141    2  141    8
4  255  127  127   55  247
5   41   64  220    8    8
6    0  211  191  118  255

In [39]:
view(result[1])

   0  1  2  3  4
0  2  4  2  2  0
1  4  0  2  2  4
2  0  2  2  2  4
3  2  4  2  4  2
4  0  2  2  4  2
5  6  2  4  2  2
6  0  4  2  4  0